 body{
   position: relative;
 }
 
 .divContent{
   padding-top:70px;
 }

  #mainNavBar {
    background-color: white;
  }

a.active {
    
    border-bottom: 5px solid #767cc6;
  }

  a:link, a:hover, a:active, a:visited, a{
    color:black;
  }

  li {
    margin-bottom: 10px;
  }

  ul{
    list-style-type: none;
  }

  .howToImg{
    margin: 30px 0;
    border: 1px solid #767cc6;
  }

